@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$container-max-widths: (
  sm: 540px,
  md: 704px,
  lg: 924px,
  xl: 1140px,
  xxl: 1364px
);
$primary: #ffb23f;
$link-primary: $primary;
$link-hover-color:$primary;
$link-color: $primary;
$nav-link-color: $link-color;
$nav-link-hover-color:shift-color($link-color, 20%);
$link-hover-color:shift-color($link-color, 20%);
// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";

.primary{
  color: $primary;
}
.btn {
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem; 
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

select,
input {
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}